@import "../Index.scss";

#discover {
	height: 70vh;
	padding: 0px 350px;

	&--dark{
        @extend #discover;
		background-color: $back_dark;
	}
}

#firstdiv {
	display: flex;
	height: 100%;
}

.divleft {
	width: 34%;
	align-items: center;
	display: flex;
}

.divright {
	width: 66%;
	text-align: right;
	align-items: center;
	display: flex;
}

.imgright {
	margin-left: auto;
}

.title {
	margin-bottom: 10px;
}

h1#mainTitle {
	color: #031b4e;
	font-size: 3em;
	font-weight: 500;

	&--dark{
        @extend h1#mainTitle;
		color: $title_dark;
	}
}

h2#secondTitle {
	color: rgba(3, 27, 78, 0.7);
	font-size: 20px;
	font-weight: 400;

	&--dark{
        @extend h2#secondTitle;
		color: $title_dark;
	}
}


@media only screen and (max-width: 640px) {
	#discover {
		height: 60vh;
		padding: 0px;
		text-align: center;
	}
	.discover-cadre{
		padding-top: 90px;
	}
	.divright {
		display: none;
	}
	.divleft{
		width: 100%;
	}
	h1#mainTitle{
		font-size: 44px;
	}
	h2{
		font-size: 18px;
		padding-left: 5px;
		padding-right: 5px;
	}
}
