@import "../Index.css";

#presentation {
	padding: 200px 350px 50px;
	background-image: url("../../assets/fond.png");
}

@media only screen and (max-width: 411px) {
    #presentation {
		padding: 200px 30px 50px;
	}
	#textpropos{
		text-align: justify;
	}
}