h1 {
	color: #031b4e;
	font-size: 3em;
	font-weight: 500;
}
h2 {
	color: rgba(3, 27, 78, 0.7);
	font-size: 20px;
	font-weight: 400;
}

h3 {
	color: #031b4e;
	font-size: 25px;
	font-weight: 500;
}

p {
	color: rgba(3, 27, 78, 0.7);
	line-height: 1.5;
	font-weight: 400;
}

strong {
	color: rgba(3, 27, 78, 0.7);
}