body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
}

h1, h2, h3, p{
  margin: 0;
}

h3{
  margin-bottom: 10px;
}

p{
  font-size: 15px;
}

$back_dark: #141d26;
$back_dark_bis: #243447;

$title_dark: #e4e4e4;