@import "../Index.scss";


#footer {
    text-align: center;
    background-color: #f4f6fc;

    &--dark{
        @extend #footer;
		background-color: $back_dark;
	}
}

.footer-box {
    display: inline-block;
    text-align: center;
    margin: 10px 20px;
    width: 250px;
}

.desc{
    &--dark{
		color: #fff;
	}
}

.footer-title {
    font-size: 13px;
    font-weight: 400;
    color: rgb(3, 27, 78);

    &--dark{
        @extend .footer-title;
		color: #fff;
	}
}
